<div class="hiring-container" id="">
  <div class="card generateToken-container">
    <div class="card-header generateToken-header" id="">
      <h5 class="mb-0">
        <button class="btn" type="button">Generate Token and Send Email</button>
      </h5>
    </div>

    <div class="generateToken-body mx-2">
      <div class="card-body">
        <form class="generateToken-body-form" [formGroup]="inputForm">
          <input
            class=""
            type="email"
            name="email"
            id="email"
            placeholder="Please enter email..."
            formControlName="email"
          />
          <input
            class="mx-3"
            type="text"
            name="name"
            id="name"
            placeholder="Please enter name..."
            formControlName="name"
          />
          <button class="mb-1 btn btn-primary rounded" (click)="sendEmail()">
            Send
          </button>
        </form>
      </div>
    </div>

    <div class="registrationTable-container mx-5">
    <h2 class="text-center">Sent Tokens</h2>
      <hr />
      <div class="overflow-x-auto">
      <table class="table registrationTable text-center w-100 my-4 table-responsive">
        <thead>
          <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Registration Link</th>
            <th>Time Created/Updated</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let regisToken of regisTokens$ |async" class="overflow-x-scroll" >
                <td>{{regisToken.email}}</td>
                <td>{{regisToken.name}}</td>
                <td>{{regisToken.registrationLink}}</td>
                <td>{{regisToken.timeStamp}}</td>
                <td *ngIf="regisToken.user" class="text-success fw-bold">user created</td>
                <td *ngIf="!regisToken.user" class="text-danger fw-bold">user not activate</td>
                <br><br>
            </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>

<div class="mt-5 overflow-x-auto">
  <h2 class="text-center">Onboarding Application Review</h2>
  <hr />
  <table class="table text-center w-100 my-4 table-responsive">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>View Application</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let profile of profiles$ |async">
            <td>{{profile.firstName}} {{profile.lastName}}</td>
            <td>{{profile.email}}</td>
            <td><button class="btn btn-primary" (click)="viewProfile(profile._id)">View Application</button></td>
        </tr>
    </tbody>
  </table>
</div>

