<div class="housingManagement-container" id="">
    <div class="card housingManagement-container">
      <div class="card-header housingManagement-header" id="">
        <h5 class="mb-0">
          <button class="btn" type="button">Houses</button>
        </h5>
      </div>
      <div class="housingManagementTable-container mx-5">
        <div class="addHouse-box w-25 mx-auto my-2">
            <h4 class="text-center">Create New House</h4>
            <form action="" [formGroup]="houseForm">
                <input class="w-100 my-1" type="text" placeholder="address" formControlName="address">
                <input class="w-100 my-1" type="text" placeholder="landlordName" formControlName="landlordName">
                <input class="w-100 my-1" type="number" placeholder="landlordPhone" formControlName="landlordPhone">
                <input class="w-100 my-1" type="email" placeholder="landlordEmail" formControlName="landlordEmail">
                <input class="w-100 my-1" type="number" placeholder="beds" formControlName="beds">
                <input class="w-100 my-1" type="number" placeholder="mattress" formControlName="mattress">
                <input class="w-100 my-1" type="number" placeholder="tables" formControlName="tables">
                <input class="w-100 my-1" type="number" placeholder="chairs" formControlName="chairs">
                <button class="w-100 mx-auto btn btn-info my-1" (click)="createHouse()">Create</button>
            </form>
        </div>
        <hr />
        <table class="housingManagementTable text-center w-100 my-4">
          <thead>
            <tr>
              <th>Address</th>
              <th>Landlord Name</th>
              <th>Landlord Phone</th>
              <th>Landlord Email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let house of houses$ |async">
                    <td>{{house.address}}</td>
                    <td>{{house.landlord.name}}</td>
                    <td>{{house.landlord.phone}}</td>
                    <td>{{house.landlord.email}}</td>
                    <td><a routerLink="/housingManagement/{{house._id}}"><button class="mx-1 btn btn-secondary">View</button></a>
                        <button class="mx-1 btn btn-danger" (click)="deleteClick(house._id)">Delete</button></td>
                    <br><br>
            </tr>
          </tbody>
        </table>
      </div>
  
      
    </div>
  </div>
  