<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Personal Information</h1>
  <div class="col lg-6 mx-auto">
    <p class="lead">Check the follwing sections</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-6">
    <form [formGroup]="profileForm">
      <div class="row g-3">
        <h3 class="fw-bold">Profile</h3>
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img
                src="{{ user?.profile?.profilePicture }}"
                alt="profile image"
                class="rounded-circle img-fluid"
                style="width: 200px"
              />
              <h5 class="my-3">
                {{ user?.profile?.firstName }} {{ user?.profile?.lastName }}
              </h5>
              <p class="text-muted mb-1">Employee</p>
              <p class="text-muted mb-4">Software Engineer</p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-outline-primary ms-1">
                  Edit profile image
                </button>
              </div>
              <input
                (change)="onFilePicked($event)"
                class="form-control"
                type="file"
                accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps"
              />
              <button
                (click)="onFileUpload($event)"
                class="m-3 btn btn-primary"
              >
                Upload
              </button>
            </div>
          </div>
        </div>
        <h3 class="fw-bold">Name</h3>
        <div class="col-12">
          <button
            *ngIf="!nameEdit"
            (click)="edit('name')"
            class="btn btn-primary"
          >
            Edit
          </button>
          <button
            *ngIf="nameEdit"
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="targetChange('name')"
          >
            Cancel
          </button>
          <button
            (click)="save('name')"
            *ngIf="nameEdit"
            class="btn btn-success mx-2"
          >
            Save
          </button>
        </div>
        <div class="col-12">
          <label for="firstName" class="form-label"
            >First Name <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            formControlName="firstName"
            [readonly]="!nameEdit"
            [ngClass]="
              (profileForm.get('firstName')?.touched ||
                profileForm.get('firstName')?.dirty) &&
              profileForm.get('firstName')?.hasError('required') &&
              nameEdit
                ? 'is-invalid'
                : ''
            "
          />
          <div class="invalid-feedback">
            {{
              profileForm.get("firstName")?.hasError("required")
                ? "First name is required"
                : ""
            }}
          </div>
        </div>
        <div class="col-12">
          <label for="middleName" class="form-label">Middle Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="middleName"
            [readonly]="!nameEdit"
          />
        </div>
        <div class="col-12">
          <label for="lastName" class="form-label"
            >Last Name<span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            formControlName="lastName"
            [readonly]="!nameEdit"
            [ngClass]="
              (profileForm.get('lastName')?.touched ||
                profileForm.get('lastName')?.dirty) &&
              profileForm.get('lastName')?.hasError('required') &&
              nameEdit
                ? 'is-invalid'
                : ''
            "
          />
          <div class="invalid-feedback">
            {{
              profileForm.get("lastName")?.hasError("required")
                ? "Last name is required"
                : ""
            }}
          </div>
        </div>
        <div class="col-12">
          <label for="preferredName" class="form-label">preferred Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="preferredName"
            [readonly]="!nameEdit"
          />
        </div>
        <h3 class="fw-bold">Address</h3>
        <div class="col-12">
          <button
            *ngIf="!addressEdit"
            (click)="edit('address')"
            class="btn btn-primary"
          >
            Edit
          </button>
          <button
            *ngIf="addressEdit"
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="targetChange('address')"
          >
            Cancel
          </button>
          <button
            (click)="save('address')"
            *ngIf="addressEdit"
            class="btn btn-success mx-2"
          >
            Save
          </button>
        </div>
        <div class="col-12">
          <label for="address" class="form-label"
            >Street Name<span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            formControlName="address"
            [readonly]="!addressEdit"
            [ngClass]="
              (profileForm.get('address')?.touched ||
                profileForm.get('address')?.dirty) &&
              profileForm.get('address')?.hasError('required') &&
              addressEdit
                ? 'is-invalid'
                : ''
            "
          />
          <div class="invalid-feedback">
            {{
              profileForm.get("address")?.hasError("required")
                ? "Street Name is required"
                : ""
            }}
          </div>
        </div>
        <div class="col-12">
          <label for="apartment" class="form-label">Building / Apt #</label>
          <input
            type="text"
            class="form-control"
            formControlName="apartment"
            [readonly]="!addressEdit"
          />
        </div>
        <div class="col-12">
          <label for="city" class="form-label"
            >City<span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            formControlName="city"
            [readonly]="!addressEdit"
            [ngClass]="
              (profileForm.get('city')?.touched ||
                profileForm.get('city')?.dirty) &&
              profileForm.get('city')?.hasError('required') &&
              addressEdit
                ? 'is-invalid'
                : ''
            "
          />
          <div class="invalid-feedback">
            {{
              profileForm.get("city")?.hasError("required")
                ? "City is required"
                : ""
            }}
          </div>
        </div>
        <div class="col-12">
          <label for="state" class="form-label"
            >State<span class="text-danger">*</span></label
          >
          <select
            class="form-control"
            formControlName="state"
            [ngClass]="
              (profileForm.get('state')?.touched ||
                profileForm.get('state')?.dirty) &&
              profileForm.get('state')?.hasError('required') &&
              addressEdit
                ? 'is-invalid'
                : ''
            "
          >
            <option
              *ngFor="let state of states"
              [ngValue]="state"
              [disabled]="!addressEdit"
            >
              {{ state }}
            </option>
          </select>
          <div class="invalid-feedback">
            {{
              profileForm.get("state")?.hasError("required")
                ? "State is required"
                : ""
            }}
          </div>
        </div>
        <div class="col-12">
          <label for="zipcode" class="form-label"
            >Zip<span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            formControlName="zipcode"
            [readonly]="!addressEdit"
            [ngClass]="
              (profileForm.get('zipcode')?.touched ||
                profileForm.get('zipcode')?.dirty) &&
              profileForm.get('zipcode')?.hasError('required') &&
              addressEdit
                ? 'is-invalid'
                : ''
            "
          />
          <div class="invalid-feedback">
            {{
              profileForm.get("zipcode")?.hasError("required")
                ? "Zip is required"
                : ""
            }}
          </div>
        </div>
        <h3 class="fw-bold">Contact Info</h3>
        <div class="col-12">
          <button
            *ngIf="!contactEdit"
            (click)="edit('contact')"
            class="btn btn-primary"
          >
            Edit
          </button>
          <button
            *ngIf="contactEdit"
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="targetChange('contact')"
          >
            Cancel
          </button>
          <button
            (click)="save('contact')"
            *ngIf="contactEdit"
            class="btn btn-success mx-2"
          >
            Save
          </button>
        </div>
        <div class="col-12">
          <label for="phone" class="form-label"
            >Cell Phone Number<span class="text-danger">*</span></label
          >
          <input
            type="tel"
            class="form-control"
            formControlName="phone"
            [readonly]="!contactEdit"
            [ngClass]="
              (profileForm.get('phone')?.touched ||
                profileForm.get('phone')?.dirty) &&
              profileForm.get('phone')?.hasError('required') &&
              contactEdit
                ? 'is-invalid'
                : ''
            "
          />
          <div class="invalid-feedback">
            {{
              profileForm.get("phone")?.hasError("required")
                ? "Phone is required"
                : ""
            }}
          </div>
        </div>
        <div class="col-12">
          <label for="workPhone" class="form-label">Work Phone Number</label>
          <input
            type="tel"
            class="form-control"
            formControlName="workPhone"
            [readonly]="!contactEdit"
          />
        </div>
        <h3 class="fw-bold">Employment</h3>
        <div class="col-12">
          <button
            *ngIf="!employmentEdit"
            (click)="edit('employment')"
            class="btn btn-primary"
          >
            Edit
          </button>
          <button
            *ngIf="employmentEdit"
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="targetChange('employment')"
          >
            Cancel
          </button>
          <button
            (click)="save('employment')"
            *ngIf="employmentEdit"
            class="btn btn-success mx-2"
          >
            Save
          </button>
        </div>
        <div class="col-12">
          <label for="visaTitle" class="form-label">Visa Title</label>
          <input
            type="text"
            class="form-control"
            formControlName="visaTitle"
            [readonly]="!employmentEdit"
          />
        </div>
        <div class="col-12">
          <label for="startDate" class="form-label">Start Date</label>
          <input
            type="date"
            class="form-control"
            formControlName="startDate"
            [readonly]="!employmentEdit"
          />
        </div>
        <div class="col-12">
          <label for="endDate" class="form-label">End Date</label>
          <input
            type="date"
            class="form-control"
            formControlName="endDate"
            [readonly]="!employmentEdit"
          />
        </div>
        <h3 class="fw-bold">Emgergency Contact</h3>
        <div class="col-12">
          <button
            *ngIf="!emergencyEdit"
            (click)="edit('emergency')"
            class="btn btn-primary"
          >
            Edit
          </button>
          <button
            *ngIf="emergencyEdit"
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="targetChange('emergency')"
          >
            Cancel
          </button>
          <button
            (click)="save('emergency')"
            *ngIf="emergencyEdit"
            class="btn btn-success mx-2"
          >
            Save
          </button>
        </div>
        <h6 class="fw-bold">Emergency Contact 1</h6>
        <div class="col-12">
          <label for="emergencyFirstName" class="form-label"
            >First Name<span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            formControlName="emergencyFirstName"
            [readonly]="!emergencyEdit"
            [ngClass]="
              (profileForm.get('emergencyFirstName')?.touched ||
                profileForm.get('emergencyFirstName')?.dirty) &&
              profileForm.get('emergencyFirstName')?.hasError('required') &&
              emergencyEdit
                ? 'is-invalid'
                : ''
            "
          />
          <div class="invalid-feedback">
            {{
              profileForm.get("emergencyFirstName")?.hasError("required")
                ? "First name is required"
                : ""
            }}
          </div>
        </div>
        <div class="col-12">
          <label for="emergencyMiddleName" class="form-label"
            >Middle Name</label
          >
          <input
            type="text"
            class="form-control"
            formControlName="emergencyMiddleName"
            [readonly]="!emergencyEdit"
          />
        </div>
        <div class="col-12">
          <label for="emergencyLastName" class="form-label"
            >Last Name<span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            formControlName="emergencyLastName"
            [readonly]="!emergencyEdit"
            [ngClass]="
              (profileForm.get('emergencyLastName')?.touched ||
                profileForm.get('emergencyLastName')?.dirty) &&
              profileForm.get('emergencyLastName')?.hasError('required') &&
              emergencyEdit
                ? 'is-invalid'
                : ''
            "
          />
          <div class="invalid-feedback">
            {{
              profileForm.get("emergencyLastName")?.hasError("required")
                ? "Last name is required"
                : ""
            }}
          </div>
        </div>
        <div class="col-12">
          <label for="emergencyPhone" class="form-label"
            >Cell Phone Number<span class="text-danger">*</span></label
          >
          <input
            type="tel"
            class="form-control"
            formControlName="emergencyPhone"
            [readonly]="!emergencyEdit"
            [ngClass]="
              (profileForm.get('emergencyPhone')?.touched ||
                profileForm.get('emergencyPhone')?.dirty) &&
              profileForm.get('emergencyPhone')?.hasError('required') &&
              emergencyEdit
                ? 'is-invalid'
                : ''
            "
          />
          <div class="invalid-feedback">
            {{
              profileForm.get("emergencyPhone")?.hasError("required")
                ? "Cell phone is required"
                : ""
            }}
          </div>
        </div>
        <div class="col-12">
          <label for="emergencyEmail" class="form-label"
            >Email<span class="text-danger">*</span></label
          >
          <input
            type="email"
            class="form-control"
            formControlName="emergencyEmail"
            [readonly]="!emergencyEdit"
            [ngClass]="
              (profileForm.get('emergencyEmail')?.touched ||
                profileForm.get('emergencyEmail')?.dirty) &&
              profileForm.get('emergencyEmail')?.hasError('required')
                ? 'is-invalid'
                : '' ||
                  profileForm.get('emergencyEmail')?.hasError('emailValidator')
                ? 'is-invalid'
                : '' || profileForm.get('emergencyEmail')?.hasError('pattern')
                ? 'is-invalid'
                : ''
            "
          />
          <div class="invalid-feedback">
            {{
              profileForm.get("emergencyEmail")?.hasError("required")
                ? "Email is required"
                : ""
            }}
            {{
              profileForm.get("emergencyEmail")?.hasError("emailValidator")
                ? "Email must be greater than 10 and less than 40 characters"
                : ""
            }}
            {{
              profileForm.get("emergencyEmail")?.hasError("pattern")
                ? "Input must be email type"
                : ""
            }}
          </div>
        </div>
        <div class="col-12">
          <label for="emergencyRelationship" class="form-label"
            >Relationship<span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            formControlName="emergencyRelationship"
            [readonly]="!emergencyEdit"
            [ngClass]="
              (profileForm.get('emergencyRelationship')?.touched ||
                profileForm.get('emergencyRelationship')?.dirty) &&
              profileForm.get('emergencyRelationship')?.hasError('required') &&
              emergencyEdit
                ? 'is-invalid'
                : ''
            "
          />
          <div class="invalid-feedback">
            {{
              profileForm.get("emergencyRelationship")?.hasError("required")
                ? "Relationship is required"
                : ""
            }}
          </div>
        </div>
        <h6 class="fw-bold">Emergency Contact 2</h6>
        <div class="col-12">
          <label for="emergency2FirstName" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="emergency2FirstName"
            [readonly]="!emergencyEdit"
          />
        </div>
        <div class="col-12">
          <label for="emergency2MiddleName" class="form-label"
            >Middle Name</label
          >
          <input
            type="text"
            class="form-control"
            formControlName="emergency2MiddleName"
            [readonly]="!emergencyEdit"
          />
        </div>
        <div class="col-12">
          <label for="emergency2LastName" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="emergency2LastName"
            [readonly]="!emergencyEdit"
          />
        </div>
        <div class="col-12">
          <label for="emergency2Phone" class="form-label"
            >Cell Phone Number</label
          >
          <input
            type="tel"
            class="form-control"
            formControlName="emergency2Phone"
            [readonly]="!emergencyEdit"
          />
        </div>
        <div class="col-12">
          <label for="emergency2Email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            formControlName="emergency2Email"
            [readonly]="!emergencyEdit"
            [ngClass]="
              profileForm.get('emergency2Email')?.hasError('emailValidator')
                ? 'is-invalid'
                : '' || profileForm.get('emergency2Email')?.hasError('pattern')
                ? 'is-invalid'
                : ''
            "
          />
          <div class="invalid-feedback">
            {{
              profileForm.get("emergency2Email")?.hasError("emailValidator")
                ? "Email must be greater than 10 and less than 40 characters"
                : ""
            }}
            {{
              profileForm.get("emergency2Email")?.hasError("pattern")
                ? "Input must be email type"
                : ""
            }}
          </div>
        </div>
        <div class="col-12">
          <label for="emergency2Relationship" class="form-label"
            >Relationship</label
          >
          <input
            type="text"
            class="form-control"
            formControlName="emergency2Relationship"
            [readonly]="!emergencyEdit"
          />
        </div>
        <h3 class="fw-bold">Documents</h3>
        <label class="form-label" *ngIf="user?.profile?.driverLicense?.file"
          >Driver License :
          <a
            href="{{ user?.profile?.driverLicense?.file }}"
            class="text-decoration-none mx-3"
            target="_blank"
            >preview</a
          >
          <a
            (click)="download(user?.profile?.driverLicense?.file)"
            class="text-decoration-none"
            download
            >download</a
          ></label
        >
        <label class="form-label" *ngIf="user?.profile?.profilePicture"
          >Profile Picture :
          <a
            href="{{ user?.profile?.profilePicture }}"
            class="text-decoration-none mx-3"
            target="_blank"
            >preview</a
          >
          <a
            (click)="download(user?.profile?.profilePicture)"
            class="text-decoration-none"
            download
            >download</a
          ></label
        >
        <label class="form-label" *ngIf="user?.profile?.optFiles?.optReceipt"
          >OPT Reciept :
          <a
            href="{{ user?.profile?.optFiles?.optReceipt }}"
            class="text-decoration-none mx-3"
            target="_blank"
            >preview</a
          >
          <a
            (click)="download(user?.profile?.optFiles?.optReceipt)"
            class="text-decoration-none"
            download
            >download</a
          ></label
        >
        <label class="form-label" *ngIf="user?.profile?.optFiles?.optEAD"
          >OPT EAD :
          <a
            href="{{ user?.profile?.optFiles?.optEAD }}"
            class="text-decoration-none mx-3"
            target="_blank"
            >preview</a
          >
          <a
            (click)="download(user?.profile?.optFiles?.optEAD)"
            class="text-decoration-none"
            download
            >download</a
          ></label
        >
        <label class="form-label" *ngIf="user?.profile?.optFiles?.optEAD"
          >OPT I-983 :
          <a
            href="{{ user?.profile?.optFiles?.optI983 }}"
            class="text-decoration-none mx-3"
            target="_blank"
            >preview</a
          >
          <a
            href="{{ user?.profile?.optFiles?.optI983 }}"
            class="text-decoration-none"
            download
            >download</a
          ></label
        >
        <label class="form-label" *ngIf="user?.profile?.optFiles?.optI20"
          >OPT I-20 :
          <a
            href="{{ user?.profile?.optFiles?.optI20 }}"
            class="text-decoration-none mx-3"
            target="_blank"
            >preview</a
          >
          <a
            (click)="download(user?.profile?.optFiles?.optI20)"
            class="text-decoration-none"
            download
            >download</a
          ></label
        >
      </div>
    </form>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Discard changes</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Do you want to discard all of your changes?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          (click)="cancel()"
          data-bs-dismiss="modal"
          class="btn btn-danger"
        >
          Discard
        </button>
      </div>
    </div>
  </div>
</div>
