<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">All employees</h1>
  <div class="col lg-6 mx-auto">
    <p class="lead">Total employees: {{ (profiles$ | async).length }}</p>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <input
        type="text"
        class="form-control mb-3"
        placeholder="Search employees.."
        [(ngModel)]="searchText"
      />
    </div>
  </div>

  <div class="mt-5 overflow-x-auto">
    <hr />
    <table class="table text-center w-100 my-4 table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>SSN</th>
          <th>Work Authorization</th>
          <th>Phone Number</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let profile of profiles$ | async | search : searchText">
          <td class="link" (click)="viewProfile(profile._id)">
            {{ profile.firstName }} {{ profile.lastName }}
          </td>
          <td>{{ profile.ssn }}</td>
          <td>{{ profile.workAuthorization.visaType }}</td>
          <td>{{ profile.phone }}</td>
          <td>{{ profile.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
