<h2 class="display-5 fw-bold text-center mt-5">Onboarding Application</h2>
<p [class]="!user?.profile ? 'lead text-center mb-5' : 'd-none' ">Complete this form before accessing your portal.</p>
<p [class]="user?.profile ? 'lead text-center mb-5' : 'd-none' ">Your application is sent to HR, and awaiting review. Please check back later.</p>

<div *ngIf="user?.profile" class="fw-bold text-center my-5">
    <h4 [class]="user?.profile && user.profile.onboardingStatus == 'Pending' ? 'text-primary' : user?.profile && user.profile.onboardingStatus == 'Rejected' ? 'text-danger' : 'text-success'"
        >Status: {{ user?.profile && user.profile.onboardingStatus }}</h4>
    <h5 *ngIf="user?.profile && user.profile.comment">Feedback: <span class="fw-normal">{{ user?.profile && user.profile.comment }}</span></h5>
</div>

<!-- <div *ngIf="user.profile" ></div> -->
<div class="d-flex justify-content-center">
    <form class="w-75 maxwidth-500 mb-5" [formGroup]="onboardingForm" (submit)="onSubmit()">
        <div id="basicInfo">
            <div class="mb-2">
                <label class="form-label">First name <span class="text-danger">*</span></label> <br/>
                <input 
                    [ngClass]="
                        (onboardingForm.get('firstName')?.touched ||
                        onboardingForm.get('firstName')?.dirty) 
                        && onboardingForm.get('firstName')?.errors
                            ? 'is-invalid' : ''
                    "
                    class="form-control" type="text" id="firstName" required formControlName="firstName"
                    [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false"
                    [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"
                    >
                <p [class]="
                    (onboardingForm.get('firstName')?.touched ||
                    onboardingForm.get('firstName')?.dirty) 
                    && onboardingForm.get('firstName')?.errors
                        ? 'text-danger fs-xs mt-1' : 'd-none'
                ">First name is required</p>
            </div>
            <div class="mb-2">
                <label class="form-label">Middle name</label> <br />
                <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''" [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" class="form-control" type="text" id="middleName" formControlName="middleName">
            </div>
            <div class="mb-2">
                <label class="form-label">Last name <span class="text-danger">*</span></label> <br />
                <input 
                    [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''" 
                    [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false"
                    [ngClass]="
                        (onboardingForm.get('lastName')?.touched ||
                        onboardingForm.get('lastName')?.dirty) 
                        && onboardingForm.get('lastName')?.errors
                            ? 'is-invalid' : ''
                    "
                    class="form-control" type="text" id="lastName" required formControlName="lastName" >
                <p [class]="
                    (onboardingForm.get('lastName')?.touched ||
                    onboardingForm.get('lastName')?.dirty) 
                    && onboardingForm.get('lastName')?.errors
                        ? 'text-danger fs-xs mt-1' : 'd-none'
                ">Last name is required</p>
            </div>
            <div class="mb-2">
                <label class="form-label">Preferred name</label> <br />
                <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" class="form-control" type="text" id="preferredName" formControlName="preferredName" >
            </div>

            <div class="mb-2">
                <label class="form-label">Profile picture:</label>
                <div class="d-flex justify-content-between">
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" class="form-control" (change)="onFilePicked($event)" type="file" id="profilePicture" accept="image/png, image/jpeg" formControlName="profilePicture" >
                    <button class="mx-2 btn btn-primary" (click)="onFileUpload($event)" id="profilePicture">Upload</button>
                </div>
                <p id="pp-success" class="mt-2 d-none text-success">Your file has been successfully uploaded</p>
            </div>
        </div>

        <div id="address">
            <div class="row">
                <div class="mb-2 col-8">
                    <label class="form-label">Current address <span class="text-danger">*</span></label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" 
                        [ngClass]="
                            (onboardingForm.get('address')?.touched ||
                            onboardingForm.get('address')?.dirty) 
                            && onboardingForm.get('address')?.errors
                                ? 'is-invalid' : ''
                        "
                        class="form-control" type="text" id="street" required formControlName="address" >
                    <p [class]="
                        (onboardingForm.get('address')?.touched ||
                        onboardingForm.get('address')?.dirty) 
                        && onboardingForm.get('address')?.errors
                            ? 'text-danger fs-xs mt-1' : 'd-none'
                    ">Current address is required</p>
                </div>
                <div class="mb-2 col-4"> 
                    <label class="form-label">Building/Apt #</label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" class="form-control" type="text" id="apartment" formControlName="apartment" >
                </div>
            </div>
            <div class="row">
                <div class="mb-2 col-6">
                    <label class="form-label">City <span class="text-danger">*</span></label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"   [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false"
                        [ngClass]="
                            (onboardingForm.get('city')?.touched ||
                            onboardingForm.get('city')?.dirty) 
                            && onboardingForm.get('city')?.errors
                                ? 'is-invalid' : ''
                        "
                        class="form-control" type="text" id="city" required formControlName="city" >
                    <p [class]="
                        (onboardingForm.get('city')?.touched ||
                        onboardingForm.get('city')?.dirty) 
                        && onboardingForm.get('city')?.errors
                            ? 'text-danger fs-xs mt-1' : 'd-none'
                    ">City is required</p>
                </div>
                <div class="mb-2 col-2">
                    <label class="form-label">State <span class="text-danger">*</span></label> <br />
                    <select 
                        [ngClass]="
                            (onboardingForm.get('state')?.touched ||
                            onboardingForm.get('state')?.dirty) 
                            && onboardingForm.get('state')?.errors
                                ? 'is-invalid' : ''
                        " 
                        required class="form-control" id="state" formControlName="state">
                        <option *ngFor="let state of states" [ngValue]="state">{{ state }}</option>
                    </select>
                    <p [class]="
                        (onboardingForm.get('state')?.touched ||
                        onboardingForm.get('state')?.dirty) 
                        && onboardingForm.get('state')?.errors
                            ? 'text-danger fs-xs mt-1' : 'd-none'
                    ">State is required</p>
                </div>
                <div class="mb-2 col-4">
                    <label class="form-label">Zipcode <span class="text-danger">*</span></label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" 
                        [ngClass]="
                            (onboardingForm.get('zipcode')?.touched ||
                            onboardingForm.get('zipcode')?.dirty) 
                            && onboardingForm.get('zipcode')?.errors
                                ? 'is-invalid' : ''
                        "  
                        class="form-control" type="text" id="zipcode" required formControlName="zipcode" >
                    <p [class]="
                        (onboardingForm.get('zipcode')?.touched ||
                        onboardingForm.get('zipcode')?.dirty) 
                        && onboardingForm.get('zipcode')?.errors
                            ? 'text-danger fs-xs mt-1' : 'd-none'
                    ">Zipcode is required</p>
                </div>
            </div>
        </div>
        <div id="phoneInfo">
            <div class="row">
                <div class="mb-2 col-6">
                    <label class="form-label">Cell phone number <span class="text-danger">*</span></label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" 
                        pattern="^[0-9]{10}$"
                        [ngClass]="
                            (onboardingForm.get('cellphone')?.touched ||
                            onboardingForm.get('cellphone')?.dirty) 
                            && onboardingForm.get('cellphone')?.errors
                                ? 'is-invalid' : ''
                        "  
                        class="form-control" type="text" id="phone" required formControlName="cellphone" >
                    <p [class]="
                        (onboardingForm.get('cellphone')?.touched ||
                        onboardingForm.get('cellphone')?.dirty) 
                        && onboardingForm.get('cellphone')?.errors
                            ? 'text-danger fs-xs mt-1' : 'd-none'
                    ">Cell phone number is required in format 1111111111</p>
                </div>
                <div class="mb-2 col-6">
                    <label class="form-label">Work phone number</label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" pattern="^[0-9]{10}$" class="form-control" type="text" id="workPhone" formControlName="workphone" >
                    <p [class]="
                        (onboardingForm.get('workphone')?.touched ||
                        onboardingForm.get('workphone')?.dirty) 
                        && onboardingForm.get('workphone')?.errors
                            ? 'text-danger fs-xs mt-1' : 'd-none'
                    ">Cell phone number must be in format 1111111111</p>
                </div>
            </div>
        </div>

        <div id="carInfo">
            <p class="mt-3 fw-bold mb-2">Car information:</p>
            <div class="row mb-2">
                <div class="col-4">
                    <label class="form-label">Make</label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" class="form-control" type="text" id="make" formControlName="carMake">
                </div>
                <div class="col-4"> 
                    <label class="form-label">Model</label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" class="form-control" type="text" id="model" formControlName="carModel">
                </div>
                <div class="col-4">
                    <label class="form-label">Color</label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" class="form-control" type="text" id="color" formControlName="carColor">
                </div>
            </div>
        </div>
        
        <div class="mb-2">
            <label class="form-label">Email</label> <br />
            <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''" class="form-control bg-gray shadow-none" type="email" [value]="regEmail" readonly >
        </div>

        <div class="row mb-2">
            <div class="col-4">
                <label class="form-label">SSN <span class="text-danger">*</span></label> <br />
                <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" 
                    pattern="^[0-9]{10}$"
                    [ngClass]="
                        (onboardingForm.get('ssn')?.touched ||
                        onboardingForm.get('ssn')?.dirty) 
                        && onboardingForm.get('ssn')?.errors
                            ? 'is-invalid' : ''
                    " 
                    class="form-control" type="text" id="ssn" required formControlName="ssn" >
                <p [class]="
                        (onboardingForm.get('ssn')?.touched ||
                        onboardingForm.get('ssn')?.dirty) 
                        && onboardingForm.get('ssn')?.errors
                            ? 'text-danger fs-xs mt-1' : 'd-none'
                    ">SSN is required in format 1111111111</p>
            </div>
            <div class="col-4">
                <label class="form-label">Date of birth <span class="text-danger">*</span></label>
                <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" 
                    [ngClass]="
                        (onboardingForm.get('dob')?.touched ||
                        onboardingForm.get('dob')?.dirty) 
                        && onboardingForm.get('dob')?.errors
                            ? 'is-invalid' : ''
                    "  
                    class="form-control" type="date" id="dob" required formControlName="dob" >
                <p [class]="
                    (onboardingForm.get('dob')?.touched ||
                    onboardingForm.get('dob')?.dirty) 
                    && onboardingForm.get('dob')?.errors
                        ? 'text-danger fs-xs mt-1' : 'd-none'
                ">DOB is required</p>
            </div>
            <div class="col-4">
                <label class="form-label">Gender <span class="text-danger">*</span></label>
                <select 
                    [ngClass]="
                        (onboardingForm.get('gender')?.touched ||
                        onboardingForm.get('gender')?.dirty) 
                        && onboardingForm.get('gender')?.errors
                            ? 'is-invalid' : ''
                    " 
                    class='form-control' id="gender" required formControlName="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="NA">I do not wish to answer</option>
                </select>
                <p [class]="
                    (onboardingForm.get('gender')?.touched ||
                    onboardingForm.get('gender')?.dirty) 
                    && onboardingForm.get('gender')?.errors
                        ? 'text-danger fs-xs mt-1' : 'd-none'
                ">DOB is required</p>
            </div>
        </div>

        <div id="residency">
            <div class="mb-2">
                <label class="form-label">Are you a citizen or permanent resident of the U.S? <span class="text-danger">*</span></label>
                <select 
                    [ngClass]="
                        (onboardingForm.get('isResident')?.touched ||
                        onboardingForm.get('isResident')?.dirty) 
                        && onboardingForm.get('isResident')?.errors
                            ? 'is-invalid' : ''
                    "  
                    class='form-control' id="isResident" required formControlName="isResident">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <p [class]="
                    (onboardingForm.get('isResident')?.touched ||
                    onboardingForm.get('isResident')?.dirty) 
                    && onboardingForm.get('isResident')?.errors
                        ? 'text-danger fs-xs mt-1' : 'd-none'
                ">Choose this required field.</p>
            </div>
            <div id="residency-isResident"
                [class]="
                    onboardingForm.get('isResident')?.value == 'Yes'
                        ? 'd-block' : 'd-none'"
            >
                <label class="form-label">Are you a US Citizen or Green Card Holder? <span class="text-danger">*</span></label>
                <div class="row">
                    <div class="col-6">
                        <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" name="residentType" type="radio" id="citizen" value="Citizen" formControlName="residentType" [required]="onboardingForm.get('isResident')?.value == 'Yes' ? 'true' : 'false' ">
                        <label class="mx-2 form-label" for="citizen">US Citizen</label>
                    </div>
                    <div class="col-6">
                        <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" name="residentType" type="radio" id="GC" value="GC" formControlName="residentType">
                        <label class="mx-2 form-label" for="GC">Green Card Holder</label>
                    </div>
                </div>
                <p [class]="
                    (onboardingForm.get('residentType')?.touched ||
                    onboardingForm.get('residentType')?.dirty) 
                    && onboardingForm.get('residentType')?.errors
                        ? 'text-danger fs-xs mt-1' : 'd-none'
                ">Choose your type of residency.</p>
            </div>

            <div id="residency-isNotResident"
                [class]="onboardingForm.get('isResident')?.value == 'No' ? 'd-block' : 'd-none' "
            >
                <label class="form-label">What is your work authorization? <span class="text-danger">*</span></label>
                <div class="row mb-2">
                    <div class="col-3">
                        <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" name="nonResidentType" type="radio" id="h1b" value="H1B" formControlName="nonResidentType" [required]="onboardingForm.get('isResident')?.value == 'No' ? 'true' : 'false' ">
                        <label class="mx-2 form-label" for="h1b">H1-B</label>
                    </div>
                    <div class="col-3">
                        <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" name="nonResidentType" type="radio" id="l2" value="L2" formControlName="nonResidentType">
                        <label class="mx-2 form-label" for="l2">L2</label>
                    </div>
                    <div class="col-3">
                        <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" name="nonResidentType" type="radio" id="h4" value="H4" formControlName="nonResidentType">
                        <label class="mx-2 form-label" for="h4">H4</label>
                    </div>
                    <div class="col-3">
                        <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" name="nonResidentType" type="radio" id="other" value="Other" formControlName="nonResidentType">
                        <label class="mx-2 form-label" for="other">Other</label>
                    </div>
                </div>
                <p [class]="
                    (onboardingForm.get('nonResidentType')?.touched ||
                    onboardingForm.get('nonResidentType')?.dirty) 
                    && onboardingForm.get('nonResidentType')?.errors
                        ? 'text-danger fs-xs mt-1' : 'd-none'
                ">Choose your type of visa.</p>
                <div id="f1"
                    [class]="onboardingForm.get('nonResidentType')?.value == 'H1B' ? 'mb-2' : 'd-none'"    
                >
                    <label class="form-label">Please upload your OPT Receipt: <span class="text-danger">*</span></label>
                    <div class="d-flex justify-content-between">
                        <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" (change)="onFilePicked($event)" class='form-control' type="file" id="optReceipt" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps" formControlName="optReceipt"
                            [required]="onboardingForm.get('nonResidentType')?.value == 'H1B' ? 'true' : 'false'">
                        <button (click)="onFileUpload($event)" class="mx-2 btn btn-primary" id="optReceipt">Upload</button>
                    </div>
                    <p id="opt-success" class="mt-2 d-none text-success">Your file has been successfully uploaded</p>
                </div>
                <div id="otherVisaType" class="mb-2"
                [class]="onboardingForm.get('nonResidentType')?.value == 'Other' ? 'mb-2' : 'd-none'"
                >
                    <label class="form-label">Please specify your visa type: <span class="text-danger">*</span></label>
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false"
                        [ngClass]="
                            (onboardingForm.get('otherVisaType')?.touched ||
                            onboardingForm.get('otherVisaType')?.dirty) 
                            && onboardingForm.get('otherVisaType')?.errors
                            ? 'is-invalid' : ''
                        " 
                        class='form-control' type="text" id="startDate" formControlName="otherVisaType" 
                            [required]="onboardingForm.get('nonResidentType')?.value == 'Other' ? 'true' : 'false'"
                        >
                </div>
                <p [class]="
                    (onboardingForm.get('otherVisaType')?.touched ||
                    onboardingForm.get('otherVisaType')?.dirty) 
                    && onboardingForm.get('otherVisaType')?.errors
                        ? 'text-danger fs-xs mt-1' : 'd-none'
                ">Please specify your visa type.</p>
                <div class="row mb-2">
                    <div class="col-6">
                        <label class="form-label">Start date <span class="text-danger">*</span></label>
                        <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" [ngClass]="
                                (onboardingForm.get('visaStartDate')?.touched ||
                                onboardingForm.get('visaStartDate')?.dirty) 
                                && onboardingForm.get('visaStartDate')?.errors
                                ? 'is-invalid' : ''
                            "  class='form-control' type="date" id="startDate"
                            [required]="onboardingForm.get('isResident')?.value == 'No' ? 'true' : 'false'"
                            formControlName="visaStartDate" >
                            <p [class]="
                                (onboardingForm.get('visaStartDate')?.touched ||
                                onboardingForm.get('visaStartDate')?.dirty) 
                                && onboardingForm.get('visaStartDate')?.errors
                                    ? 'text-danger fs-xs mt-1' : 'd-none'
                            ">Visa start date is required.</p>
                    </div>
                    <div class="col-6">
                        <label class="form-label">End date <span class="text-danger">*</span></label>
                        <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" [ngClass]="
                                (onboardingForm.get('visaEndDate')?.touched ||
                                onboardingForm.get('visaEndDate')?.dirty) 
                                && onboardingForm.get('visaEndDate')?.errors
                                ? 'is-invalid' : ''
                            "  class='form-control' type="date" id="endDate" 
                            [required]="onboardingForm.get('isResident')?.value == 'No' ? 'true' : 'false'"
                            formControlName="visaEndDate" >
                        <p [class]="
                            (onboardingForm.get('visaEndDate')?.touched ||
                            onboardingForm.get('visaEndDate')?.dirty) 
                            && onboardingForm.get('visaEndDate')?.errors
                                ? 'text-danger fs-xs mt-1' : 'd-none'
                        ">Visa end date is required.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="driverlicense">
            <div class="mb-2">
                <label class="form-label">Do you have a driver's license? <span class="text-danger">*</span></label>
                <select [ngClass]="
                        (onboardingForm.get('hasDriverLicense')?.touched ||
                        onboardingForm.get('hasDriverLicense')?.dirty) 
                        && onboardingForm.get('hasDriverLicense')?.errors
                        ? 'is-invalid' : ''
                    " class="form-control" id="hasDL" required formControlName="hasDriverLicense">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <p [class]="
                    (onboardingForm.get('hasDriverLicense')?.touched ||
                    onboardingForm.get('hasDriverLicense')?.dirty) 
                    && onboardingForm.get('hasDriverLicense')?.errors
                        ? 'text-danger fs-xs mt-1' : 'd-none'
                ">Answer is required.</p>
            </div>
            <div id="hasDriverLiences"
                [class]="onboardingForm.get('hasDriverLicense')?.value == 'Yes' ? 'd-block' : 'd-none'"
            >
                <div class="row">
                    <div class="mb-2 col-7">
                        <label class="form-label">Driver's license number <span class="text-danger">*</span></label> <br />
                        <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" [ngClass]="
                            (onboardingForm.get('driverLicense')?.touched ||
                            onboardingForm.get('driverLicense')?.dirty) 
                            && onboardingForm.get('driverLicense')?.errors
                            ? 'is-invalid' : ''
                            " class="form-control" type="text" id="number" formControlName="driverLicense" 
                            [required]="onboardingForm.get('hasDriverLicense')?.value == 'Yes' ? 'true' : 'false'"
                            >
                        <p [class]="
                            (onboardingForm.get('driverLicense')?.touched ||
                            onboardingForm.get('driverLicense')?.dirty) 
                            && onboardingForm.get('driverLicense')?.errors
                                ? 'text-danger fs-xs mt-1' : 'd-none'
                        ">DL number is required.</p>
                    </div>
                    <div class="mb-2 col-5">
                        <label class="form-label">Expiration date <span class="text-danger">*</span></label>
                        <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" [ngClass]="
                                (onboardingForm.get('driverLicenseExp')?.touched ||
                                onboardingForm.get('driverLicenseExp')?.dirty) 
                                && onboardingForm.get('driverLicenseExp')?.errors
                                ? 'is-invalid' : ''
                            " class="form-control" type="date" id="expiration" formControlName="driverLicenseExp" 
                            [required]="onboardingForm.get('hasDriverLicense')?.value == 'Yes' ? 'true' : 'false'"
                            >
                        <p [class]="
                            (onboardingForm.get('driverLicenseExp')?.touched ||
                            onboardingForm.get('driverLicenseExp')?.dirty) 
                            && onboardingForm.get('driverLicenseExp')?.errors
                                ? 'text-danger fs-xs mt-1' : 'd-none'
                        ">DL expiration date is required.</p>
                    </div>
                </div>
                <div class="mb-2">
                    <label class="form-label">Upload a copy of your driver's license <span class="text-danger">*</span></label>
                    <div class="d-flex justify-content-between">
                        <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" (change)="onFilePicked($event)" class="form-control" type="file" id="file" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps" formControlName="driverLicenseFile" 
                        [required]="onboardingForm.get('hasDriverLicense')?.value == 'Yes' ? 'true' : 'false'"
                        >
                        <button (click)="onFileUpload($event)" class="mx-2 btn btn-primary" id="number">Upload</button>
                    </div>
                    <p id="dl-success" class="mt-2 d-none text-success">Your file has been successfully uploaded</p>
                </div>
            </div>
        </div>
        
        <div>
            <p class="mt-3 fw-bold">Who referred you to this company?</p>
            <div>
                <div class="mb-2">
                    <label class="form-label">First Name</label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" class="form-control" type="text" formControlName="referenceFirstName">
                </div>
                <div class="mb-2">
                    <label class="form-label">Middle Name</label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" class="form-control" type="text" formControlName="referenceMiddleName">
                </div>
                <div class="mb-2">
                    <label class="form-label">Last Name</label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" class="form-control" type="text" formControlName="referenceLastName">
                </div>
                <div class="mb-2">
                    <label class="form-label">Phone</label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" class="form-control" type="text" formControlName="referencePhone">
                </div>
                <div class="mb-2">
                    <label class="form-label">Email</label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" class="form-control" type="text" formControlName="referenceEmail">
                </div>
                <div class="mb-2">
                    <label class="form-label">Relationship</label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" class="form-control" type="text" formControlName="referenceRelationship">
                </div>
            </div>
        </div>

        <div class="mt-3 emergency-contact">
            <p class="fw-bold">Emergency Contact</p>
            <div class="emergency-contant--form">
                <div class="mb-2">
                    <label class="form-label">First Name <span class="text-danger">*</span></label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" [ngClass]="
                        (onboardingForm.get('emergencyFirstName')?.touched ||
                        onboardingForm.get('emergencyFirstName')?.dirty) 
                        && onboardingForm.get('emergencyFirstName')?.errors
                        ? 'is-invalid' : ''" class="form-control" type="text" formControlName="emergencyFirstName" required>
                    <p [class]="
                        (onboardingForm.get('emergencyFirstName')?.touched ||
                        onboardingForm.get('emergencyFirstName')?.dirty) 
                        && onboardingForm.get('emergencyFirstName')?.errors
                            ? 'text-danger fs-xs mt-1' : 'd-none'
                    ">Emergency contact first name is required.</p>
                </div>
                <div class="mb-2">
                    <label class="form-label">Middle Name</label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" class="form-control" type="text" formControlName="emergencyMiddleName">
                </div>
                <div class="mb-2">
                    <label class="form-label">Last Name <span class="text-danger">*</span></label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" [ngClass]="
                        (onboardingForm.get('emergencyLastName')?.touched ||
                        onboardingForm.get('emergencyLastName')?.dirty) 
                        && onboardingForm.get('emergencyLastName')?.errors
                        ? 'is-invalid' : ''" class="form-control" type="text" formControlName="emergencyLastName" required>
                    <p [class]="
                        (onboardingForm.get('emergencyLastName')?.touched ||
                        onboardingForm.get('emergencyLastName')?.dirty) 
                        && onboardingForm.get('emergencyLastName')?.errors
                            ? 'text-danger fs-xs mt-1' : 'd-none'
                    ">Emergency contact last name is required.</p>
                </div>
                <div class="mb-2">
                    <label class="form-label">Phone <span class="text-danger">*</span></label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" [ngClass]="
                        (onboardingForm.get('emergencyPhone')?.touched ||
                        onboardingForm.get('emergencyPhone')?.dirty) 
                        && onboardingForm.get('emergencyPhone')?.errors
                        ? 'is-invalid' : ''" class="form-control" type="text" formControlName="emergencyPhone" required>
                    <p [class]="
                        (onboardingForm.get('emergencyPhone')?.touched ||
                        onboardingForm.get('emergencyPhone')?.dirty) 
                        && onboardingForm.get('emergencyPhone')?.errors
                            ? 'text-danger fs-xs mt-1' : 'd-none'
                    ">Emergency contact phone is required.</p>
                </div>
                <div class="mb-2">
                    <label class="form-label">Email <span class="text-danger">*</span></label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" [ngClass]="
                        (onboardingForm.get('emergencyEmail')?.touched ||
                        onboardingForm.get('emergencyEmail')?.dirty) 
                        && onboardingForm.get('emergencyEmail')?.errors
                        ? 'is-invalid' : ''" class="form-control" type="text" formControlName="emergencyEmail" required>
                    <p [class]="
                        (onboardingForm.get('emergencyEmail')?.touched ||
                        onboardingForm.get('emergencyEmail')?.dirty) 
                        && onboardingForm.get('emergencyEmail')?.errors
                            ? 'text-danger fs-xs mt-1' : 'd-none'
                    ">Emergency contact email is required.</p>
                </div>
                <div class="mb-2">
                    <label class="form-label">Relationship <span class="text-danger">*</span></label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" [ngClass]="
                        (onboardingForm.get('emergencyRelationship')?.touched ||
                        onboardingForm.get('emergencyRelationship')?.dirty) 
                        && onboardingForm.get('emergencyRelationship')?.errors
                        ? 'is-invalid' : ''" 
                        class="form-control" type="text" formControlName="emergencyRelationship" required>
                    <p [class]="
                        (onboardingForm.get('emergencyRelationship')?.touched ||
                        onboardingForm.get('emergencyRelationship')?.dirty) 
                        && onboardingForm.get('emergencyRelationship')?.errors
                            ? 'text-danger fs-xs mt-1' : 'd-none'
                    ">Emergency contact relationship is required.</p>
                </div>
            </div>
        </div>

        <div class="mt-3 emergency-contact">
            <p class="fw-bold">Emergency Contact 2</p>
            <div class="emergency-contant--form">
                <div class="mb-2">
                    <label class="form-label">First Name</label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" class="form-control" type="text" formControlName="emergency2FirstName">
                </div>
                <div class="mb-2">
                    <label class="form-label">Middle Name</label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" class="form-control" type="text" formControlName="emergency2MiddleName">
                </div>
                <div class="mb-2">
                    <label class="form-label">Last Name</label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" class="form-control" type="text" formControlName="emergency2LastName">
                </div>
                <div class="mb-2">
                    <label class="form-label">Phone</label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" class="form-control" type="text" formControlName="emergency2Phone">
                </div>
                <div class="mb-2">
                    <label class="form-label">Email</label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" class="form-control" type="text" formControlName="emergency2Email">
                </div>
                <div class="mb-2">
                    <label class="form-label">Relationship</label> <br />
                    <input [class]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" class="form-control" type="text" formControlName="emergency2Relationship">
                </div>
            </div>
        </div>
        <input [disabled]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? 'bg-gray' : ''"  [readOnly]="user?.profile && user.profile.onboardingStatus != 'Rejected' ? true : false" type="submit" class="btn btn-primary w-100 mt-2" value="Submit">
    </form>
</div>

