<div class="report-container" id="">
    <div class="card report-container">
      <div class="card-header report-header" id="">
        <h5 class="mb-0">
          <button class="btn" type="button">Report Details</button>
        </h5>
      </div>
  
      <div class="report-body mx-2">
        <div class="card-body">
          <form class="report-body-details">
            <h2>Title: {{ (report$ | async).title }}</h2>
            <h3>Description:</h3>
            <p>{{ (report$ | async).description }}</p>
            <h3>Status:</h3>
            <p>{{ (report$ | async).status }}</p>
          </form>
        </div>
      </div>
  
      <div class="registrationTable-container mx-5">
        <div class="addComment-box w-25 mx-auto my-2">
          <h4 class="text-center">Create New Comment</h4>
          <form action="" [formGroup]="commentForm">
            <input
              class="w-100 my-1"
              type="text"
              placeholder="description"
              formControlName="description"
            />
            <button
              class="w-100 mx-auto btn btn-info my-1"
              (click)="createComment()"
            >
              Create
            </button>
          </form>
        </div>
        <h2 class="text-center">Comments</h2>
        <hr />
        <table class="registrationTable text-center w-100 my-4">
          <thead>
            <tr>
              <th>Description</th>
              <th>Created By</th>
              <th>Time Created/Updated</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let comment of (report$ | async).comments">
              <td>{{ comment.description }}</td>
              <td>{{ comment.createdBy }}</td>
              <td>{{ comment.createdAt | date:'short' }}</td>
              <br /><br />
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  